<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div class="login-box">
    <h2>Logueate o vuelve a <a th:href="@{/}">Inicio</a></h2>
    <form th:action="@{/comprobar}" th:object="${login}" method="post">
        <div class="user-box">
            <input type="text" th:field="*{usuario}" required="">
            <label>Usuario</label>
        </div>
        <div class="user-box">
            <input type="password"th:field="*{pass}" required="">
            <label>Contraseña</label>
        </div>
        <div class="centrado">
            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                LOG IN
            </button>
        </div>
        <h3 th:text="${texto}" th:if="${texto!=null}"></h3>
    </form>
    <div th:if="${login==null}">
        <p>
            <span th:text="${texto}"></span>
        </p>
    </div>
</div>
</body>
</html>